@import "tailwindcss"

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.montserrat-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* hero section style start from here   */

header>section,
.about-me {
  margin-bottom: 90px;
}

.hero-image {
  position: relative;
}

.first {
  position: relative;
  top: 110px;
  left: 30px;
  z-index: 7;

}

.second {
  position: absolute;
  top: 150px;
  z-index: 10;
}

.third {
  position: relative;
  left: 60%;
  top: -130px;
  z-index: 5;
}

.gradient-text {
  background: linear-gradient(#FBA24F, #FF1E1E);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;

}

.order-food-btn {
  background: linear-gradient(#FBA24F, #FF1E1E);
  padding: 8px 16px;
  border-radius: 25px;
  cursor: pointer;
  border: none;
}


/* ABout Me section style start from here  */
.about-me {
  background-image: url(../images/shapes/7.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.about-me-content {
  max-width: 540px;
}

/* Recipe sectin style start from here  */
.recipe-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;

}

.recipe-card {
  border-radius: 15px;
  box-shadow: 1px 4px 5px 12px rgba(128, 128, 128, 0.276);
}

/* statistics section style start from here  */
.statistics-container{
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
  box-shadow: 1px 4px 12px 5px rgba(128, 128, 128, 0.124);
  border-radius: 15px;
}


/* Responsive Design for Hero Section  */

@media screen and (max-width: 576px) {
  .hero-section {
    flex-direction: column
  }

  .hero-content {
    text-align: center;
    padding: 50px 30px;
  }

  .about-me-container {
    flex-direction: column;

  }

  .about-me-content {
    padding: 15px;
  }

  .recipe-container {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 50px;
    padding-left: 12px;
  }
  .statistics-container{
    margin-left: 10px;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .hero-section {
    flex-direction: column;
  }

  .hero-content {
    text-align: center;
    padding: 50px 30px;
  }

  .about-me-container {
    gap: 50px;
  }

  .about-me-figure img {
    padding: 15px;
  }

  .recipe-container {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    padding-left: 12px;
  }
   .statistics-container{
    margin-left: 10px;
  }
}