@import "tailwindcss"

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.montserrat-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* hero section style start from here   */

header>section{
  margin-bottom: 90px;
}

.hero-image{
  position: relative;
}
.first{
  position: relative;
  top: 110px;
  left: 30px;
  z-index: 7;
  
}
.second{
  position: absolute;
  top: 150px;
  z-index: 10;
}
.third{
  position: relative;
  left: 60%;
  top: -130px;
  z-index: 5;
}
.gradient-text {
  background: linear-gradient(#FBA24F, #FF1E1E);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;

}

.order-food-btn{
  background: linear-gradient(#FBA24F, #FF1E1E);
  padding: 8px 16px;
  border-radius: 25px;
  cursor: pointer;
  border: none;
}

/* Responsive Design for Hero Section  */

@media screen and (max-width: 576px) {
  .hero-section{
    flex-direction: column;
  }  

  .hero-content{
    text-align: center;
    padding: 50px 30px;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .hero-section{
    flex-direction: column;
  }  

  .hero-content{
    text-align: center;
    padding: 50px 30px;
  }
}